<div>
    <div class="padding">
        <div class="location">

            <div style="opacity: 0">this text invisible</div>
            <!--my location-->

            <div class="location-row" ng-if="yourLocation.latitude">
                <div class="coordinates-row fl">
                    <span class="xy-title" translate="HOME.your_location"></span>
                </div>
                <div class="coordinates-row fl">
                    <div class="xy-value" ng-bind="yourLocation.latitude"></div>
                    <div class="xy-value" ng-bind="yourLocation.longitude"></div>
                </div>
                <div class="clear"></div>
            </div>
            <div class="location-row" ng-show="!yourLocation.latitude && !error">
                <img src="img/loader-small.gif" alt="loader"/>
            </div>

            <!--people-->
            <div class="people" ng-show="friendLocations.length > 0">
            <!--<div class="people">-->
                <div class="xy-value"  translate="HOME.online"></div>
                <div class="location-row">
                    <div class="person-location-row" ng-repeat="friend in friendLocations">
                        <div class="xy-value username" ng-bind="friend.username"></div>
                        <div class="xy-value" ng-bind="friend.latitude"></div>
                        <div class="xy-value" ng-bind="friend.longitude"></div>
                        <div class="xy-value" translate="HOME.distance"
                             translate-values="{distance:friend.distance}"></div>
                    </div>
                    <div class="clear"></div>
                    <hr/>
                </div>
                <div class="button-block">
                    <div class="center-block">
                        <button class="btn btn-primary" ng-click="getLocation()"
                                translate="HOME.get_coordinates"></button>
                    </div>
                </div>
            </div>
            <div ng-bind="error"></div>
        </div>
    </div>
</div>
