<div id="container">
    <div id="header_container">
        <div class="fl">
            <button class="btn btn-menu btn-sm" ng-show="isAuthenticated()" ng-click="doLogout()"
                    translate="NAVIGATION.btn_exit"></button>
        </div>
        <!--<div id="header_content">Menu</div>-->

        <div class="fr">
            <button class="btn btn-menu btn-sm" ng-show="isAuthenticated()" ng-click="refresh()"
                    translate="NAVIGATION.btn_refresh"></button>
        </div>
    </div>
    <div id="content">
        <div id="page-host">
            <div id="view" ui-view=""></div>
        </div>
    </div>
</div>
<div id="loader-spin">
    <div>
        <!--<img src="img/loader-small.gif" alt=""/>-->
    </div>
</div>